.header {
  background-color: #333333;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px auto;
}

.job {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 280px;
  margin-bottom: 10px;
}

.job > span {
  font-size: 30px;
}

.job > div > span {
  font-size: 18px;
}

.red {
  border: 10px solid #e30413;
}
.green {
  border: 10px solid #3ea535;
}
.yellow {
  border: 10px solid #ffee00;
}
.blue {
  border: 10px solid #039fe3;
}
.pink {
  border: 10px solid #f8c5af;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

@media (max-width: 1024px) {
  .jobs {
    width: 100%;
  }
}
